body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: #f8f9fa;
  color: #222;
  text-align: center;
  margin-top: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 4px;
}

button {
  background: #6c757d;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-bottom: 10px;
}
